## RMSE Result

In [1]:
import pandas as pd

In [2]:
# LR, LASSO, NAIVE
LLN = pd.read_csv("../../data/BG LBStack Pred/Test_RMSE_lbstack.csv")

# AVG
AVG = pd.read_csv("../../data/BG Avg Pred/Test_RMSE_avg.csv")

In [7]:
RMSE_table = pd.concat([LLN, AVG], ignore_index=True)

In [10]:
RMSE_table = RMSE_table.reindex([0,1,3,2])

In [16]:
MEAN = RMSE_table.mean(axis=1)
STD = RMSE_table.std(axis=1)

C:\Users\user\AppData\Local\Temp\ipykernel_12124\3538358259.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  MEAN = RMSE_table.mean(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_12124\3538358259.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  STD = RMSE_table.std(axis=1)

In [31]:
mean_str = MEAN.apply(lambda x: f'{x:.3f}(')
std_str = STD.apply(lambda x: f'{x:.3f})')

In [35]:
RMSE_table["MEAN(SD)"] = mean_str+std_str

In [36]:
RMSE_table

,Unnamed: 0,Fold0,Fold1,Fold2,Fold3,Fold4,Fold5,Fold6,Fold7,Fold8,Fold9,MEAN(SD)
0,LR,20.021432,20.602190,22.553713,20.658511,18.436632,20.344333,25.406734,21.430169,21.401110,23.790103,21.464(2.001)
1,LASSO,19.927137,20.497389,22.417742,20.503395,18.371471,20.199420,25.265668,21.346450,21.258918,23.590623,21.338(1.977)
3,AVG,19.806151,20.167366,22.245521,20.249400,18.135085,20.356257,25.160191,21.261261,21.007004,23.101886,21.149(1.956)
2,Naive,22.820494,23.121830,25.813782,23.156411,20.610260,23.559716,29.112022,23.831604,23.747236,25.819141,24.159(2.288)

## EGA Result